.. _deployment_requirements:

Requirements
================================

These are requirements for installing the **data plane** agent into your organization's cloud.
Instructions for installing a local agent can be found :ref:`here<deployment_local_agent>`.

Before beginning, ensure that you have both `Helm <https://helm.sh/docs/intro/install/>`_ and `Kubectl <https://kubernetes.io/docs/tasks/tools/>`_ installed.
These tools will be needed to interact with the Kubernetes cluster where your agent will be installed.

Next, ensure that your Kubernetes Cluster satisfies the following requirements:

.. toctree::
   :maxdepth: 1

   requirements/kubernetes_cluster.md

Finally, you will need to set up the appropriate data permissions for the agent so that it can access your data and models
during testing.

.. toctree::
   :maxdepth: 1

   requirements/data_access_permissions.md
